<% provide(:title, 'About Me') %>

<div class="sidebar">
    <div class="hero">
    	<div class="title">
    		<h1>About Me</h1>
    	</div>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
	    <h1>This is an H1 tag.</h1>
		<h2>This is a H2 tag!</h2>
		<h3>This is a H3 tag?</h3>
	  
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, modi, nulla ratione atque sed voluptatem cum adipisci quo eum nesciunt dignissimos odio amet odit assumenda laborum iste maiores cumque laboriosam.
		</p>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, modi, nulla ratione atque sed voluptatem cum adipisci quo eum nesciunt dignissimos odio amet odit assumenda laborum iste maiores cumque laboriosam.
		</p>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, modi, nulla ratione atque sed voluptatem cum adipisci quo eum nesciunt dignissimos odio amet odit assumenda laborum iste maiores cumque laboriosam.
		</p>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, modi, nulla ratione atque sed voluptatem cum adipisci quo eum nesciunt dignissimos odio amet odit assumenda laborum iste maiores cumque laboriosam.
		</p>
		
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, modi, nulla ratione atque sed voluptatem cum adipisci quo eum nesciunt dignissimos odio amet odit assumenda laborum iste maiores cumque laboriosam.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, modi, nulla ratione atque sed voluptatem cum adipisci quo eum nesciunt dignissimos odio amet odit assumenda laborum iste maiores cumque laboriosam.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, modi, nulla ratione atque sed voluptatem cum adipisci quo eum nesciunt dignissimos odio amet odit assumenda laborum iste maiores cumque laboriosam.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, modi, nulla ratione atque sed voluptatem cum adipisci quo eum nesciunt dignissimos odio amet odit assumenda laborum iste maiores cumque laboriosam.
		</p>
    </div>
</div>