<% provide(:title, 'Home') %>

<div class="sidebar">
    <div class="hero">
        <div class="title">
            <h1>Tasos</h1>
            <h1>Georgoulis</h1>
        </div>
        <!-- <h2 class="web">WEB</h2> -->
        <h3>Web Designer <span id="slash">//</span> Developer</h3>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        
        <%= render 'projects/list_projects' %>
    </div>
</div>