<div class="admin-new-links">
  <ul>
    <li class="button"><%= link_to 'New Project', 		new_project_path %></li>
    <li class="button"><%= link_to 'New Category', 	new_category_path %></li>
    <li class="button"><%= link_to 'New Technology', new_technology_path %></li>
    <li class="button"><%= link_to 'Logout', 				logout_path %></li>
  </ul>
</div>