<div class="latest-projects">
  
  <!-- <h2>Latest Projects</h2> -->
  
  <ul>
    <% @latest_projects.each do |project| %>
        <%= render project %>
    <% end %>
  </ul>

  <%= link_to "View all projects", projects_path, class: "view-all" %>

</div>