<div class="latest-projects clearfix">
  
  <ul>
    <% @latest_projects.each do |project| %>
        <%= render project %>
    <% end %>
  </ul>

</div>
<!-- <%= link_to "View all projects", projects_path, class: "view-all" %> -->