<div class="latest-projects clearfix">
  
  <h2>Latest Projects</h2>
  
  <ul>
    <% @latest_projects.each do |project| %>
        <%= render project %>
    <% end %>
  </ul>

  <%= link_to "See all projects", projects_path, class: "view-all" %>

</div>