<div class="projects <%= current_page?(:controller => 'projects') ? 'portfolio' : 'admin' %>">
	<!-- <%= render 'projects/index_filter_form' %> -->

	<% if @projects.empty? %>
		<% if @category_name %>
			<p>
				<%= "There are no #{@category_name.pluralize(0)}." %>
			</p>
		<% end %>
	<% else %>
		<% if current_page?(:controller => 'access')  %>
			<h1>Projects</h1>
		<% end %>
		<ul><% @projects.each do |project| %><%= render project %><% end %></ul>
	<% end %>
</div>