<%# Provide correct page title %>
<% if current_page?(:controller => 'projects', :action => 'index') %>
	<% provide(:title, 'Projects') %>
<% elsif current_page?(:controller => 'access', :action => 'index') %>
	<% provide(:title, 'Admin Interface') %>
<% end %>

<%# Display admin links if on admin panel %>
<% if current_page?(:controller => 'access', :action => 'index') %>
	<%= render 'access/admin_new_links' %>
<% end %>


<% unless current_page?(:controller => 'access', :action => 'index') %>
    <div class="sidebar">
        <div class="hero">
            <div class="title">
                <h1>All Projects</h1>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            <%# Display all the projects %>
            <%= render 'projects/list_projects' %>
        </div>
    </div>
<% end %>



<%# Display all the categories if on admin panel %>
<% if current_page?(:controller => 'access', :action => 'index') %>
  <%= render 'categories/list_categories' %>
<% end %>

<%# Display all the technologies if on admin panel %>
<% if current_page?(:controller => 'access', :action => 'index') %>
  <%= render 'technologies/list_technologies' %>
<% end %>