@font-face {
    font-family: 'oswald-regular';
    src: font-url('/assets/Oswald-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-regular';
    src: font-url('/assets/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'forque';
    src: font-url('/assets/Forque.ttf');
    font-weight: normal;
    font-style: normal;
}