/********** 
Boilerplate Code
**********/

@import 'sass_variables';


*{
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
	box-sizing: border-box;
	font-size: 16px;
}

html.turbolinks-progress-bar::before {
  background-color: $orange !important;
  height: 5px !important;
  z-index: 2000;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/********** 
Global
**********/

h1,h2,h3{
	font-weight: 100;
	line-height: 1.5em;
	margin-bottom: 24px;
	margin-bottom: 1.5rem;
}

h1{
	font-size: 3.375em;
}

h2{
	font-size: 2.25em;
}

h3{
	font-size: 1.5em;
}

a{
	text-decoration: none;
	color: $darkbrown;
	font-weight: 100;
}

p{
  line-height: 1.5em;
  margin-bottom: 36px;
}


/*******************
Navigation
*******************/

.nav-button{
	position: fixed;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	z-index: 200;
	cursor: pointer;
}

.check-icon, .close-icon, .nav-icon{
	background-image: url("https://dl.dropboxusercontent.com/u/25093909/spritesheet.png");
}
.check-icon { background-position: -5px -0px; }
.close-icon { background-position: -5px -55px; }
.nav-icon   { background-position: -5px -110px; }

nav{
  background-color: $browngold;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 100;
  display: none;

  ul{
	width: 100%;
	height: 730px;
	padding: 0;
	list-style-type: none;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -365px 0 0 -50%;
  }
  
  a{
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 7.594em;
	text-transform: uppercase;
	transition: all 0.5s;
  }

  .active, a:hover{
	color: $lightgold;
  }
}


/************
Layout
************/

.wrapper{
	font-family: 'Lato', sans-serif;
	color: $darkbrown;
	font-size: 1.5em;
}

.sidebar, .content-wrapper{
	width: 50%;
	// padding: 5% 3%;
}

.sidebar{
	// background-image: url("https://photos-1.dropbox.com/t/2/AACvhuR1-r1Iuyv-9YMst_cdXimB633ixqPkamxG7hFALQ/12/25093909/jpeg/32x32/1/1439352000/0/2/2015-05-25%2004.12.52.jpg/CJXO-wsgASACIAMgBCAFIAYgBygCKAc/g-CwGbBQiBacxyiU7aR7LPmyhNYZ0Ju8EmkLA1D8xWc?size=1600x1200&size_mode=2");
	// background-size: cover;
	// background-position: 0 60%;
	position: fixed;
	height: 100%;
	padding: 5% 3%;
}

.content-wrapper{
	min-height: 100vh;
	margin-left: 50%;
	background-color: $lightgold;

    img{
        max-width: 100%;
      }
}

  .content{
	  width: 90%;
	  margin: auto;

	  img{
		max-width: 100%;
	  }
  }
