/********** 
Boilerplate Code
**********/

@import 'sass_variables';

.center{
    width: 80%;
    margin: 0 auto;
}

*{
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
    box-sizing: border-box;
	font-size: 16px;
}

html.turbolinks-progress-bar::before {
  background-color: $orange !important;
  height: 5px !important;
  z-index: 2000;
}

body{
	font-size: 62.5%;
	font-family: 'opensans-regular';
	color: $blue;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}

/********** 
/Boilerplate Code
**********/


/********** 
Global
**********/

h1{
    font-size: 8em;
}

h2{
    font-size: 6em;
}

h3{
    font-size: 4em;
}

p{
    font-size: 2em;
    line-height: 1.8em;
    background-color: white;
    margin: 10px;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}

img{
    display: block;
}

/********** 
/Global
**********/

/*******************
Header & Navigation
*******************/

header{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #FFF;
    color: $blue;
    width: 100%;
    height: 50px;
    padding: 20px;

    .logo, nav{
        display: inline-block;
    }

    .logo{
        font-size: 2em;
    }

    nav{
        
        position: absolute;
        right: 0;

        li{
            list-style: none;
            display: inline-block;
            padding-right: 10px;
        }

        a{
            color: $blue;
            font-size: 2em;
            text-transform: uppercase;
        }
    }
}

/***********************
/Header & Navigation
***********************/


#main{
    background: url("dots.png");
    width: 100%;
    margin: 50px auto 0;
}