// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project{
	background-color: white;
	padding: 1em;
	margin: 1em;
}