// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'sass_variables';

.filter{
    padding: 0 1%;
    margin: 1% 0;
    text-align: right;
}

.project-image{
	
	img{
		width: 100%;
	}
	
}

.project-screenshots{
	width: 100%;
	margin-top: 1%;

	img{
		width: 48%;
		padding-right: 1%;
		padding-bottom: 1%;
		float: left;
		-moz-transition:-moz-transform 0.1s ease-in; 
		-webkit-transition:-webkit-transform 0.1s ease-in; 
		-o-transition:-o-transform 0.1s ease-in;

		&:hover{
			cursor: pointer;
			-moz-transform:scale(1.05); 
			-webkit-transform:scale(1.05);
			-o-transform:scale(1.05);
		}
	}
}

#content.projects .all-projects{

	ul{
		list-style: none;
	}
	
	.project{
		width: 33.333%;
		float: left;
		text-align: center;

		a{
			color: $dark-blue;
			text-decoration: none;
		}

		img{
			width: 100%;
			height: 100%;
		}
	}

}