// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'sass_variables';

/**************
Index Action
**************/


/**************
/Index Action
**************/


/***********
Show Action
***********/



/**************
Latest Projects
**************/
.content-wrapper{
    // background-color: red;

    .content{
        // background-color: yellow;
        // padding: 5%;
    }
}

.projects{
    // width: 100%;
    // background-color: pink;
    // padding: 50px;
    
    ul { list-style-type: none; }
}

.project{
        font-size: 1.5em;
        display: inline-block;
        position: relative;
        width: 46%;
        padding-bottom: 46%;
        // margin: -3px; // whitespace fix
        margin: 2%;
        // margin-right: 5%;
        background-color: white;
        overflow:hidden;
        transition: background-color .5s;
        border: 10px solid $browngold;

        &:hover{
            background-color: $darkbrown;

            a {
                color: $browngold;
            }
        }

        .project-content {
            position:absolute;
            height:100%;
            width:100%; 
            
            padding: 10% 5%;
            text-align: center; // center text horizontally

            // center text vertically
            .table{
            display:table;
            height:100%;
            width:100%;
            }
            .table-cell{
                display:table-cell;
                vertical-align:middle;
                height:100%;
                width:100%;
            }
        }

    }