<div class="technologies">
  <h1>Technologies</h1>
  <% unless @technologies.empty? %>
    <ul>
      <% @technologies.each do |technology| %>
          <li class="technology">
            <h3><%= technology.name %></h3>
            <div class="admin-links">
                <%= link_to "Edit", edit_technology_path(technology) %>
                <%= link_to "Delete", technology_path(technology), data: {'confirm' => 'Are you sure?'}, :method => :delete %>
            </div>
          </li>
      <% end %>
    </ul>
  <% else %>
    <p>No categories.</p>
  <% end %>
</div>