<% provide(:title, 'New Technology') %>

<div class="technologies">
	<%= form_for :technology,  url: technologies_path do |f| %>
		<p>
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</p>
	
		<p>
			<%= f.submit %>
		</p>
	<% end %>
</div>