<div id="header" class="clearfix">
		<div id="nav">
			<ul>
				<li><%= link_to "home",  home_path %></li>
				<li><%= link_to "about", about_path %></li>
				<li><a href="#knowledge-anchor" class="scroll">Knowledge</a></li>
				<li><%= link_to "portfolio", projects_path %></li>
				<li><a href="#cv-anchor" class="scroll">CV</a></li>
				<li><a href="#contact-anchor" class="scroll">Contact</a></li>
			</ul>	
		</div>
	</div>